@import './utils/variables';
@import './base/normalize';
@import './components/html';
@import './components/body';
@import './utils/placeholders';
@import './utils/mixins';
@import './components/logo';
@import './components/site-nav-header';
@import './components/contact-nav-header';
@import './components/section-hero';
@import './components/button';
@import './components/section-skills';
@import './components/icons';
@import './components/section-about';
@import './components/section-team';
@import './components/socialLink';
@import './components/section-clients';
@import './components/footer';
@import './components/modal-form';
@import './components/section-portfolio';
