/*          Modal Form         */

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms $cubic, visibility 250ms $cubic;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  @include widtHeight(528px, 581px);
  background-color: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%);
  transition: transform 250ms $cubic;

  &__form {
    padding: 40px;
  }

  &__title {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: $title-text-color;
  }

  &__form-label {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.01em;
    color: $primary-text-color;
  }

  &__form-wrapper {
    position: relative;
    display: block;
    margin-top: 4px;
  }

  &__form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    cursor: pointer;

    transform: translateY(-50%);
    transition: 250ms $cubic;
  }

  &__form-wrapper:focus-within > &__form-icon {
    fill: $accent-color;
  }

  &__form-input {
    display: block;
    padding: 12px 40px;
    padding-left: 40px;

    @include widtHeight(100%, 40px);
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;

    transition: all 250ms $cubic;
  }

  &__form-wrapper:focus-within > &__form-input {
    border: 1px solid $accent-color;
    cursor: pointer;
  }

  &__form-wrapper:focus-within > .comment {
    border: 1px solid $accent-color;
    cursor: pointer;
  }
}

::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment {
  margin-bottom: 20px;
  padding: 12px 16px;

  @include widtHeight(448px, 120px);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: $primary-white-color;
  outline: none;
}

/*         Chekbox Modal Rul        */

.modal-check-label {
  @include centeredFlex();
  position: relative;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;

  &__icon {
    transition: all 250ms $cubic;
  }

  &__icon:hover,
  &__check:focus {
    cursor: pointer;
  }

  &__rul-link {
    @extend %link;
    margin-left: 4px;
    color: $accent-color;
    text-decoration: underline;
  }
}

.chekbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute;
}

.chekbox:checked + .modal-check-label__icon {
  background-color: $accent-color;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
