%list {
  padding: 0;
  margin: 0;
  list-style: none;
}

%link {
  text-decoration: none;
}

%logo {
  display: inline-block;
  padding-top: 25px;
  padding-bottom: 25px;

  font-family: $secondary-font-family;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
}

%button {
  padding: 10px 32px;
  min-width: 200px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $primary-white-color;
  background-color: $accent-color;

  transition: all 250ms $cubic;
}

%sociaLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  text-decoration: none;
  border-radius: 50%;
}
